.headder-w3 a img{
	height: 12.0em;
	width: 15.0em;
}

.w3l-slide-text h3{
		color: #baa45f;
	}/*#961e1e;*/
 span.desc,.view a{
 	color: #961e1e !important;
 }

/* .view a{
 	color: #961e1e !important;
 }*/